*.iml
.gradle
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Local configuration file (sdk path, etc)
local.properties

# Android Studio
*.iml
.idea

# Local IDEA workspace
.idea/workspace.xml

# Gradle cache
.gradle


# Log Files
*.log

# git commit
node_modules

__pycache__